<div class="add-estate-dialog">
    <h1>Dodavanje nekretnine</h1>
      <mat-horizontal-stepper  #stepper>
        <mat-step >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            

            <h4>Tip</h4>
            <div class="divider"></div>
           <div class="radio-button-div">
            <mat-radio-group aria-label="Select an option" *ngFor="let transaction of listOfTransaction" formControlName="id_transaction_type">
                <mat-radio-button value="{{transaction}}">{{transaction.title}}</mat-radio-button>
              </mat-radio-group>
           </div>

           <div>

            <h4>Kategorija</h4>
            <div class="divider"></div>
            <mat-form-field appearance="fill" style="margin-top: 1em;">
                
                <mat-label>Kategorija</mat-label>
                <mat-select formControlName="id_estate_sub_category">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let estateCategory of listOfEstateCategories" [label]="estateCategory.title">
                    <mat-option *ngFor="let estateSubCategory of estateCategory.listOfEstateSubCategories" [value]="estateSubCategory">
                      {{estateSubCategory.title}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
           </div>
            <div>
              <button mat-raised-button matStepperNext style="width: 20%;border-radius: 0 !important;">Dalje</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Fill out your address">
          <form [formGroup]="locationForm" style="margin-top: 2em;">
          <div style="display: inline-flex;width: 100%;">
            <mat-form-field appearance="fill" style="width: 50%;">
              <mat-label>Grad</mat-label>
              <mat-select (ngModelChange)="filterPartOfCity()" formControlName="id_city">
                <mat-option *ngFor="let city of listOfCities" [value]="city" >
                  {{city.title}}
                </mat-option>
              </mat-select>

            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%;margin-left: 1em;">
              <mat-label>Deo grada</mat-label>
              <mat-select formControlName="id_part_of_city">
                <mat-option *ngFor="let partOfCity of listOfPartsOfCities" [value]="partOfCity">
                  {{partOfCity.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Adresa</mat-label>
                <input matInput formControlName="address">
                <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
        </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      
</div>