<div class="contact">
    <div class="row">
        <div class="col-sm">
            <img src="../../assets/img/white_logo.png" alt="" class="img-fluid logo">
            <h5>Sistem a-md Nekretnine</h5>
            <h5>PIB: 112165570</h5>
            <h5>Reg. br.: 1259</h5>
            <h6 style="color: #121212">Powered by <a style="color: #000" href="https://alemarc.dev">Alemarc</a></h6>
        </div>
        <div class="col-sm">
            <h4>Lokacija</h4>
            <h5>Cara Dušana <br>52-53 <br>Niš</h5>
        </div>
        <div class="col-sm">
            <h4>Radno vreme</h4>
            <h5>Pon-Sub: 08:00-17:00 </h5>
            <h5>Nedeljom ne radimo</h5>
        </div>
        <div class="col-sm">
            <h4>Društvene mreže</h4>
            <h5><i class="fa fa-instagram" aria-hidden="true"></i> <a href="https://www.instagram.com/sistemnekretnine/"> Instagram</a></h5>
        </div>
        <div class="col-sm-3">
            <h4>Kontakt</h4>
            <div class="">
                <div class="row">
                    <div class="col">
                        <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 018 564666</h5>
                        <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 8243238</h5>
                    </div>
                    <div class="col">
                        <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 062 715220</h5>
                        <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 6411898</h5>
                    </div>
                </div>
            </div>
            <h5><i class="fa fa-envelope" aria-hidden="true"></i> sistemnekretnine@gmail.com</h5>
        </div>

    </div>
</div>
