<div class="contact">
    <div class="row">
        <div class="col-sm">
            <h4>Lokacija</h4>
            <h5>Cara Dušana <br>52-53 <br>Niš</h5>
        </div>
        <div class="col-sm">
            <h4>Radno vreme</h4>
            <h5>Pon-Sub: 08:00-17:00 </h5>
            <h5>Nedeljom ne radimo</h5>
        </div>
        <div class="col-sm">
            <h4>Društvene mreže</h4>
            <h5><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h5>
        </div>
        <div class="col-sm">
            <h4>Kontakt</h4>
            <h5><i class="fa fa-phone-square" aria-hidden="true"></i> 018 257 020</h5>
            <h5><i class="fa fa-envelope" aria-hidden="true"></i> avenijasistem@gmail.com</h5>
        </div>
        <div class="col-sm">
            <img src="../../assets/img/white_logo.png" alt="" class="img-fluid">
      
        </div>
    </div>
</div>