<form [formGroup]="addPartOfCityForm">
    <mat-form-field appearance="fill" >
        <mat-label>Naziv dela grada</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <div>
        <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <mat-select formControlName="id_city" [(ngModel)]="selectedCity">
              <mat-option *ngFor="let city of listOfCities" [value]="city.id">
                {{city.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="text-center">
          <button class="big-blue-btn" mat-dialog-close (click)="save()">Sacuvaj</button>
      </div>
</form>