.estate-container {
    padding: 1% 10% 5% 10%;
}

.estate-btn {
    background-color: #00c3f6;
    color: #fff;
    width: 50%;
    padding: .6em 0 .6em 0;
}

img {
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

h1, h3 {
    font-weight: bold;
}

h3 {
    padding-top: 1em;
}

.header {
    background-image: url('../../assets/img/filter.png');
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding-top: 25%;
}

mat-form-field {
    width: 100%;
}

.search-div {
    margin-top: 50%;
    background-color: #fff;
    padding: 2em 10em 2em 10em;
    margin: 0 10em 0 10em;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

.search-btn , .reset-btn {
    width: 100%;
    padding-top: .7em;
    color: #fff;
    border: 0 !important;
    background-color: #00c3f6 !important;
    padding-bottom: .7em;
}

.reset-btn {
     background-color: #282828 !important;
}