<app-white-footer></app-white-footer>
<div class="header">
    <div class="search-div">
        <h3>Napredna pretraga</h3>
        <mat-divider></mat-divider>
        <form [formGroup]="searchForm">
            <div class="row" style="margin-top: 1em;">
                <div class="col-sm">
                    <mat-form-field appearance="fill">
                        <mat-label>Cena od</mat-label>
                        <input matInput formControlName="priceFrom">
                        <mat-icon matSuffix>attach_money</mat-icon>
                      </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="fill">
                        <mat-label>Cena do</mat-label>
                        <input matInput formControlName="priceTo">
                        <mat-icon matSuffix>attach_money</mat-icon>
                      </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="fill" >
                        <mat-label>Grad</mat-label>
                        <mat-select (ngModelChange)="filterPartOfCity()" formControlName="id_city" [(ngModel)]="selectedCity">
                          <mat-option *ngFor="let city of listOfCities" [value]="city.id" >
                            {{city.title}}
                          </mat-option>
                        </mat-select>
          
                      </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="fill">
                        <mat-label>Deo grada</mat-label>
                        <mat-select formControlName="id_part_of_city">
                          <mat-option *ngFor="let partOfCity of filteredPartOfCity" [value]="partOfCity">
                            {{partOfCity.title}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
    
            
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <button mat-button class="search-btn" (click)="filter()">Pretraži</button>
                </div>
                <div class="col-sm">
                    <button mat-button class="reset-btn" (click)="getAllEstates()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="estate-container">
    <h1 style="padding-top: 5em;">Filtrirane nekretnine</h1>
    <mat-divider></mat-divider>
    <div class="row" >
        <div class="col-sm-6" style="padding-top: 5em;" *ngFor="let estate of filteredEstate">
            <img [src]="estate.listOfImages[0].url" width="100%" height="60%" alt="">
           <div class="row">
               <div class="col-sm-6">
                <h3 class="text-left">{{estate.title}}</h3>
                <div style="display: inline-flex;">
                    <h5> <i class="fa fa-home" style="color: #00c3f6;"></i> {{estate.id_location.id_part_of_city.id_city.title}} | {{estate.id_location.id_part_of_city.title}}</h5>
                <h5 style="margin-left: 1em;"><i class="fa fa-map-marker" aria-hidden="true" style="color: #00c3f6;"></i> {{estate.id_location.address}}</h5>
                </div>
                <h4 style="font-weight: bold;padding:.5em 0 .5em 0;">{{estate.price}}€</h4>
            </div>
               <div class="col-sm"></div>
           </div>
            <div class="text-left">
                <button mat-button routerLink="/estate/{{estate.id}}" routerLinkActive="router-link-active"  class="estate-btn">Pogledaj više</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>