.menu-div {
    display: inline-flex;
}
h1,p{

}
.nav-li {
    margin-left: 1em;
    padding-top: .5em;
    color: #282828;
}


nav {
    padding: 3em 2em 3em 2em;
    background-color: #fff !important;
}


.estate-info h5 {
    margin-left: 0 !important;
}


.reg-btn, .login-btn {
    border: 0 !important;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    padding: .6em 3em .6em 3em;
}

.reg-btn {
    background-color: #00c3f6;
    color: #fff;
    margin-left: 2em;
}

.login-btn {
    margin-left: 2em;
    background-color: #282828;
    color: #fff;
}


.estate-container {
    padding: 1% 10% 5% 10%;
}

.estate-btn {
    background-color: #00c3f6;
    color: #fff;
    width: 50%;
    padding: .6em 0 .6em 0;
}

img {
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

h1, h3 {
    font-weight: bold;
}

h3 {
    padding-top: 1em;
}

.header {
    background-image: url('../../assets/img/filter.png');
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding-top: 25%;
}

mat-form-field {
    width: 100%;
}

.search-div {
    margin-top: 50%;
    background-color: #fff;
    padding: 2em 10em 2em 10em;
    margin: 0 10em 0 10em;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

.search-btn, .reset-btn {
    width: 100%;
    padding-top: .7em;
    color: #fff;
    border: 0 !important;
    background-color: #00c3f6 !important;
    padding-bottom: .7em;
}

.reset-btn {
    background-color: #282828 !important;
}

.filter-h1 {
    padding-top: 6em;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width:1870px) {
    ::ng-deep nav {
        display: none;
    }
    .header {
        padding-top: 0 !important;
    }
    .hamburger-menu {
        display: flex;
        color: #00c3f6;
        padding-right: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .hamburger-menu mat-icon {
        font-size: 40px !important;
    }
}

@media screen and (max-width:570px) {
    .header {
        height: 100vh;
        padding-top: 0 !important;
    }
    .search-div {
        margin: 2em;
        padding: 2em;
    }.filter-h1 {
        padding-top: 3em;
    }
    .estate-container {
        padding-bottom: 10em;   
    } .estate-card {
        margin-bottom: 5em;
    }
}