.menu-div {
    display: inline-flex;
}

h5 {
    margin-left: 1em;
    padding-top: .5em;
}

nav {
    padding: 3em;
}

.menu-div h5:hover {
    cursor: pointer;
}

.nav-li {
    margin-left: 1em;
    padding-top: .5em;
    color: #282828;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

nav {
    padding: 3em 2em 3em 2em;
    background-color: #fff !important;
}

.estate-info h5 {
    margin-left: 0 !important;
}

.reg-btn,
.login-btn {
    border: 0 !important;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    padding: .6em 3em .6em 3em;
}

.reg-btn {
    background-color: #00c3f6;
    color: #fff;
    margin-left: 2em;
}

.login-btn {
    margin-left: 2em;
    background-color: #282828;
    color: #fff;
}

.filter-estate-row {
    padding: 2em 4em;
}

.estate-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.estate-btn {
    background-color: #00c3f6;
    color: #fff;
    width: 50%;
    padding: .6em 0 .6em 0;
}

.estate-img {
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

h1,
h3 {
    font-weight: bold;
}

h3 {
    padding-top: 1em;
}

mat-form-field {
    width: 100%;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background: none
}

.filter-estate-row .col-sm-3 {
    border-right: 1px solid #eee;
}

.col-sm-3 {
    display: none;
}

.search-btn,
.reset-btn {
    width: 30%;
    padding-top: .7em;
    color: #fff;
    border: 0 !important;
    background-color: #00c3f6 !important;
    padding-bottom: .7em;
}

.reset-btn {
    background-color: #282828 !important;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width:1870px) {
     ::ng-deep nav {
        display: none;
    }
    .header {
        padding-top: 0 !important;
    }
    .hamburger-menu {
        display: flex;
        color: #00c3f6;
        padding-right: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .hamburger-menu mat-icon {
        font-size: 40px !important;
    }
}

@media screen and (max-width:570px) {
    .login-btn {
        background-color: #fff;
        color: #282828;
        margin: 2em 0 0 0;
    }
    .search-div {
        margin: 2em;
        padding: 2em;
    }
    .filter-h1 {
        padding-top: 3em;
    }
    .estate-container {
        padding-bottom: 10em;
    }
    .estate-card {
        margin-bottom: 5em;
    }
    .search-div {
        padding: 0 !important;
        margin: 0 !important;
    }
    .filter-estate-row .col-sm-9 {
        margin-top: 2em;
    }
    .filter-estate-row {
        padding: 0 !important;
    }
     ::-webkit-scrollbar {
        display: none;
    }
     ::-webkit-scrollbar-thumb {
        display: none;
    }
    .search-div {
        display: none;
    }
    .search-btn {
        width: 50%;
    }
}