<mat-drawer-container>
      <mat-drawer #drawer mode="over">
    <div class="drawer-content">
      <div class="text-right">
       
        <button class="close-btn" mat-icon-button (click)="drawer.toggle()"><mat-icon>close</mat-icon></button>
      </div>
      <div class="option-menu">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" ><h1 >Početna</h1></a>
        <a><h1 (click)="searchOnRent()">Izdavanje</h1></a>
        <a (click)="searchOnSell()"><h1>Prodaja</h1></a>
        <a (click)="scrollToElement(contact)"><h1 (click)="drawer.toggle()">Kontakt</h1></a>
      </div>
  
      <div class="side-contact-div">
   <div class="row">
    <div class="col">
      <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 018 564666</h5>
    <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 8243238</h5>
    </div>
   <div class="col">
    <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 062 715220</h5>
    <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 6411898</h5>
   </div>
   </div>
      </div>
  
      <div class="button-div">
        <button class="reg-btn" style="margin-left: 0 !important;" (click)="openRegistrationDialog()">Registracija</button>
  
        <button class="login-btn" (click)="openLoginDialog()">Login</button>  
      </div>
      <div class="social-div">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" style="margin-left: 1em;" aria-hidden="true"></i>
  
      </div>
    </div>

  </mat-drawer>
    <mat-drawer-content>
        <div class="header">
          <div class="text-right hamburger-menu">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>format_align_right</mat-icon></button>
  </div>
            <nav>
              <div class="row">
                <div class="col-sm-7" >
                 <a [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <img src="../../assets/img/white_logo.png" width="300px" style="padding-top: 1em;" alt="" class="img-fluid">
                  </a>
                </div>
                <div class="col-sm">
          
                <div class="text-right" style="display: inline-flex;padding-left: 3.5em;">
                  <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 018 564666</h5>
                  <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 8243238</h5>
                  <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 062 715220</h5>
                  <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 064 6411898</h5>
                </div>
              <div class="menu-div">
               <a><h5 (click)="searchOnRent()">Izdavanje</h5></a>
               <a (click)="searchOnSell()"><h5>Prodaja</h5></a>
               <a><h5>Kontakt</h5></a>
               <button class="reg-btn" (click)="openRegistrationDialog()">Registracija</button>
          
               <button class="login-btn" (click)="openLoginDialog()">Login</button>
              </div>
                </div>
              </div>
            </nav>
        
            <div class="ad-form-div">
                <div class="row">
                  <div class="col-sm-6">
                    <mat-horizontal-stepper>
                      <ng-template matStepLabel>Kontakt podaci</ng-template>
                      <mat-step [stepControl]="userInfoForm" label="Kontakt podaci">
                          <form [formGroup]="userInfoForm">
                            <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Ime i prezime</mat-label>
                                  <input matInput formControlName="full_name">
                                  <mat-icon matSuffix>contact_mail</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input matInput formControlName="email">
                                  <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Telefon</mat-label>
                                  <input matInput type="number" formControlName="telephone">
                                  <mat-icon matSuffix>local_phone</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                            <button mat-button matStepperNext class="next-btn" style="margin-left: 0;">Dalje</button>
                          </div>
                          </form>
                      </mat-step>
                      <mat-step [stepControl]="secondForm" label="Podaci o nekretnini">
                       <form [formGroup]="secondForm">
                        <div class="row">
                          <div class="col-sm" style="padding-left: 0;">
                            <mat-form-field appearance="outline">
                              <mat-label>Cena od</mat-label>
                              <input matInput type="number" formControlName="priceFrom">
                              <mat-icon matSuffix>attach_money</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-sm" style="padding-right: 0;padding-left: 0;">
                            <mat-form-field appearance="outline">
                              <mat-label>Cena do</mat-label>
                              <input matInput type="number" formControlName="priceTo">
                              <mat-icon matSuffix>attach_money</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-label>Kvadratura</mat-label>
                            <input matInput type="number" formControlName="quadrature">
                            <mat-icon matSuffix>attach_money</mat-icon>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-label>Kupovina/prodaja</mat-label>
                            <mat-select formControlName="id_transaction_type">
                              <mat-option *ngFor="let transaction of listOfTransaction" [value]="transaction">
                                {{transaction.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <button mat-button matStepperPrevious class="back-btn">Nazad</button>
                          <button mat-button matStepperNext class="next-btn">Dalje</button>
                        </div>
                       </form>
                      </mat-step>
                      <mat-step [stepControl]="locationForm" label="Lokacija i opis">
              <form [formGroup]="locationForm">
                <div class="row">
                  <div class="col-sm" style="padding-left: 0;">
                    <mat-form-field appearance="outline">
                      <mat-label>Adresa</mat-label>
                      <input matInput formControlName="address">
                      <mat-icon matSuffix>contact_mail</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-sm" style="padding-right: 0 !important;">
                    <mat-form-field appearance="outline">
                      
                      <mat-label>Grad i deo grada</mat-label>
                      <mat-select formControlName="id_part_of_city">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let city of listOfCities" [label]="city.title">
                          <mat-option *ngFor="let partOfCity of city.listOfPartOfCities" [value]="partOfCity">
                            {{partOfCity.title}}
                          </mat-option>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              
                <div>
                  <mat-form-field appearance="outline">
                      
                    <mat-label>Kategorija</mat-label>
                    <mat-select formControlName="id_estate_sub_category">
                      <mat-option>-- None --</mat-option>
                      <mat-optgroup *ngFor="let estateCategory of listOfEstateCategories" [label]="estateCategory.title">
                        <mat-option *ngFor="let estateSubCategory of estateCategory.listOfEstateSubCategories" [value]="estateSubCategory">
                          {{estateSubCategory.title}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
              
                <ckeditor #editor [editor]="Editor"></ckeditor>
                <button class="send-btn" mat-button (click)="sendAdvertisingRequset()">Pošalji</button>
              </form>
                      </mat-step>
                    </mat-horizontal-stepper>
                  </div>
                  <div class="col-sm text-right">
                    <h1 class="big-h1">Lorem <br> <span style="color: #00c3f6;">Dolor Ipsum.</span></h1>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </h5>
                </div>
                </div>
              </div>

              <div class="mobile-ad-form-div">
                <div class="row">
                  <div class="col-sm text-right">
                    <h1 class="big-h1">Lorem <br> <span style="color: #00c3f6;">Dolor Ipsum.</span></h1>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </h5>
                </div>
                  <div class="col-sm-6">
                    <mat-horizontal-stepper>
                      <ng-template matStepLabel>Kontakt podaci</ng-template>
                      <mat-step [stepControl]="userInfoForm" label="Kontakt podaci">
                          <form [formGroup]="userInfoForm">
                            <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Ime i prezime</mat-label>
                                  <input matInput formControlName="full_name">
                                  <mat-icon matSuffix>contact_mail</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input matInput formControlName="email">
                                  <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                              <mat-form-field appearance="outline">
                                  <mat-label>Telefon</mat-label>
                                  <input matInput type="number" formControlName="telephone">
                                  <mat-icon matSuffix>local_phone</mat-icon>
                                </mat-form-field>
                          </div>
                          <div>
                            <button mat-button matStepperNext class="next-btn" style="margin-left: 0;">Dalje</button>
                          </div>
                          </form>
                      </mat-step>
                      <mat-step [stepControl]="secondForm" label="Podaci o nekretnini">
                       <form [formGroup]="secondForm">
                        <div class="row">
                          <div class="col-sm" style="padding-left: 0;">
                            <mat-form-field appearance="outline">
                              <mat-label>Cena od</mat-label>
                              <input matInput type="number" formControlName="priceFrom">
                              <mat-icon matSuffix>attach_money</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-sm" style="padding-right: 0;padding-left: 0;">
                            <mat-form-field appearance="outline">
                              <mat-label>Cena do</mat-label>
                              <input matInput type="number" formControlName="priceTo">
                              <mat-icon matSuffix>attach_money</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-label>Kvadratura</mat-label>
                            <input matInput type="number" formControlName="quadrature">
                            <mat-icon matSuffix>attach_money</mat-icon>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="outline">
                            <mat-label>Kupovina/prodaja</mat-label>
                            <mat-select formControlName="id_transaction_type">
                              <mat-option *ngFor="let transaction of listOfTransaction" [value]="transaction">
                                {{transaction.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <button mat-button matStepperPrevious class="back-btn">Nazad</button>
                          <button mat-button matStepperNext class="next-btn">Dalje</button>
                        </div>
                       </form>
                      </mat-step>
                      <mat-step [stepControl]="locationForm" label="Lokacija i opis">
              <form [formGroup]="locationForm">
                <div class="row">
                  <div class="col-sm" style="padding-left: 0;">
                    <mat-form-field appearance="outline">
                      <mat-label>Adresa</mat-label>
                      <input matInput formControlName="address">
                      <mat-icon matSuffix>contact_mail</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-sm" style="padding-right: 0 !important;">
                    <mat-form-field appearance="outline">
                      
                      <mat-label>Grad i deo grada</mat-label>
                      <mat-select formControlName="id_part_of_city">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let city of listOfCities" [label]="city.title">
                          <mat-option *ngFor="let partOfCity of city.listOfPartOfCities" [value]="partOfCity">
                            {{partOfCity.title}}
                          </mat-option>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              
                <div>
                  <mat-form-field appearance="outline">
                      
                    <mat-label>Kategorija</mat-label>
                    <mat-select formControlName="id_estate_sub_category">
                      <mat-option>-- None --</mat-option>
                      <mat-optgroup *ngFor="let estateCategory of listOfEstateCategories" [label]="estateCategory.title">
                        <mat-option *ngFor="let estateSubCategory of estateCategory.listOfEstateSubCategories" [value]="estateSubCategory">
                          {{estateSubCategory.title}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
              
                <ckeditor #editor [editor]="Editor"></ckeditor>
                <button class="send-btn" mat-button (click)="sendAdvertisingRequset()">Pošalji</button>
              </form>
                      </mat-step>
                    </mat-horizontal-stepper>
                  </div>
                  
                </div>
              </div>
          </div>
          <div #contact></div>
          <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>