mat-drawer {
    width: 95%;
    padding: 5em 2em 5em 2em;
    background-color: #282828 !important;
}

mat-drawer .close-btn {
    margin-left: 2em;
    color: #00c3f6;
}

.option-menu {
    padding-top: 5em;
}
h1 {
    color: #00c3f6;
    font-weight: bold;
}

mat-drawer h5{
    margin-left: 0 !important;
    color: #fff;
}

.side-contact-div {
    padding-top: 2em;
}

.social-div {
    padding-top: 2em;
}
i {
    font-size: 25px;
    color: #00c3f6;
}

.side-contact-div h5 {
    font-size: 15px;
}

mat-drawer .col {
    padding: 0 !important;
}