.option {
    padding-left: 5em;
    padding-right: 5em;
}

table {
    width: 100%;
    margin-top: 2em;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.custom-row {
    display: inline-flex;
    width: 100%;
}

.custom-col {
    width: 49%;
    margin: 1em;
}