
  <mat-horizontal-stepper  #stepper>
    <mat-step [stepControl]="userInfoForm">
      <form [formGroup]="userInfoForm">
        <ng-template matStepLabel>Lični podaci</ng-template>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Ime i prezime</mat-label>
                <input matInput formControlName="full_name">
                <mat-icon matSuffix>contact_mail</mat-icon>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Telefon</mat-label>
                <input matInput type="number" formControlName="telephone">
                <mat-icon matSuffix>local_phone</mat-icon>
              </mat-form-field>
        </div>
        
        <div>
          <button mat-button matStepperNext [disabled]="!userInfoForm.valid">Dalje</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="userForm" label="Korisnički podaci">
      <form [formGroup]="userForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Korisnicko ime</mat-label>
                <input matInput formControlName="username">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Šifra</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Potvrda šifre</mat-label>
                <input matInput type="password" formControlName="password_confirm">
                <mat-icon matSuffix>attach_money</mat-icon>
              </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Nazad</button>
          <button class="reg-btn" mat-button (click)="register()" [disabled]="!userForm.valid">Sačuvaj</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
  