form {
    padding: 2em 0 2em 0;
}

mat-form-field {
    width: 100%;
}

.reg-btn{
    border: 0 !important;
    color: #fff;
    background-color: #00c3f6;

    font-family: 'Poppins', sans-serif;
    padding: .3em 3em .3em 3em;
}