@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

mat-drawer-content{
    background-color: #f3f4f7 !important;
}

mat-step-header .mat-step-icon-selected {
    background-color: #00c3f6 !important;
    color: #282828;

    font-family: 'Poppins', sans-serif;
}

.mat-step-header .mat-step-icon {
     background-color: #00c3f6;

    font-family: 'Poppins', sans-serif;
     color: #282828;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #00c3f6;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #00c3f6;
}

.big-blue-btn{
    background-color: #00c3f6;
    border: 0 !important;
    color: #fff;
    padding: 1em 2em 1em 2em;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -16px rgba(0,0,0,0.75);
 }