.menu-div {
    display: inline-flex;
}
h1,p{

    font-family: 'Poppins', sans-serif;
}
.nav-li {
    margin-left: 1em;
    font-family: 'Poppins', sans-serif;
    color: #282828;
}


nav {
    padding: 3em 2em 3em 2em;
    background-color: #fff !important;
}


.estate-info h5 {
    margin-left: 0 !important;
}


.reg-btn, .login-btn {
    border: 0 !important;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    padding: .6em 3em .6em 3em;
}

.reg-btn {
    background-color: #00c3f6;
    color: #fff;
    margin-left: 2em;
}

.login-btn {
    margin-left: 2em;
    background-color: #282828;
    color: #fff;
}

.header h2 {
    color: #282828;
    font-family: 'Poppins', sans-serif;
    line-height: 3px;
}


h1,h4,h6,h5{
    font-family: 'Poppins', sans-serif;
}


.estate {
     padding-left: 5em;
     padding-right: 5em;
}

.estate-container {
   padding-top: 3em;
   padding-bottom: 3em;
}

.estate-item{
   margin-top: 2em;
}

.overview-btn {
   padding: .5em 3em .5em 3em;
   color: #fff;
   margin-top: 1.5em;
   border: 0 !important;
   background-color: #00c3f6;
   font-family: 'Poppins', sans-serif;
}

.edit-btn {
   padding: .5em 3em .5em 3em;
   margin-right: 1em;
   color: #fff;
   margin-top: 1.5em;
   border: 0 !important;
   background-color: #282828;
   font-family: 'Poppins', sans-serif;
}

.row{
    margin:  0 !important;
}
.estate-info {

    padding: 5em 10em 5em 10em;
}


.slider-img {
    width: 1180px !important;
    height: 500px !important;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

.contact-btn {
    width: 48%;
    background-color: #00c3f6;
    font-family: 'Poppins', sans-serif;
}

.favorite-btn {
    width: 48%;
    margin-left: 1em;
    background-color: #282828;
    color: #fff;

    font-family: 'Poppins', sans-serif;
}