<mat-drawer-container class="example-container" hasBackdrop="false" fullscreen>
  <mat-drawer #drawer mode="side">
      <img src="../../assets/img/white_logo.png" alt="" class="img-fluid">
      <div class="option-menu">
      </div>
  </mat-drawer>
  <mat-drawer-content>
<div class="header">
  <nav>
    <div class="row">
      <div class="col-sm-7">
        <img src="../../assets/img/white_logo.png" width="500px" alt="" class="img-fluid">
      </div>
      <div class="col-sm">

      <div class="text-right" style="padding-right: 3em;">
        <h5><i class="fa fa-phone-square" aria-hidden="true" style="color: #00c3f6;"></i> 018 257018</h5>
      </div>
    <div class="menu-div">
     <a><h5>Izdavanja</h5></a>
     <a><h5>Prodaja</h5></a>
     <a><h5>Kontakt</h5></a>
     <button class="reg-btn" (click)="openRegistrationDialog()">Registracija</button>

     <button class="login-btn" (click)="openLoginDialog()">Login</button>
    </div>
      </div>
    </div>
  </nav>
  <div class="text-center text-header-div">
    <h2>Lorem ipsum</h2>
    <h1>Dolor nunc lorem ipsum</h1>
  </div>
  <div class="search-div text-center">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Grad</mat-label>
          <input matInput>

          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Usluga</mat-label>
          <input matInput>
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Nekretnina</mat-label>
          <input matInput>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Struktura</mat-label>
          <input matInput>
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <button class="search-btn">Pretrazi</button>
      </div>

    </div>
  </div>
</div>
<div class="estate-binding">
<div class="row">
  <div class="col-sm">
    <h1><span style="color: #282828;">Najnovniji</span> <br><span style="color: #00c3f6;">Oglasi</span></h1>
    <p>Lorem Ipsum is simply dummy text of the printing <br> a type specimen book. It has survived not only  </p>
  </div>
  <div class="col-sm-8 text-center">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let estate of listOfEstates" >
          <img class="swiper-slide slider-img" [src]="estate.listOfImages[0].url" />
          <div>
            <h4 style="color: #282828;margin-top: 1em;">{{estate.title}}</h4>
          <h4 class="blue">{{estate.price}}€</h4> 
          </div>
        </div>
        
      </div>
    </swiper>
  </div>
</div>
</div>
<div class="about-div">
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm">
          <img src="../../assets/img/glass-items-3339972_1920 1.png" alt="" class="img-fluid">
        </div>
        <div class="col-sm">
          <h1>Projektovanje <i class="fa fa-line-chart" aria-hidden="true" style="color: #00c3f6;"></i></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h1 class="text-right">Prodaja <i class="fa fa-university" aria-hidden="true" style="color: #00c3f6;"></i></h1>
        </div>
        <div class="col-sm">
          <div class="col-sm">
            <img src="../../assets/img/real-estate-and-property-concept---close-up-of-hands-holding-house-or-home-model-929044292-5c0f1d5b4cedfd00019bd6aa 1.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 text-right">
      <h1>O nama.</h1>
      <p class="about-p">Lorem Ipsum is simply dummy
        text of the printing and typesetting
        industry. Lorem Ipsum has been
        the industry's standard dummy
        text ever since the 1500s, when an 
       unknown printer took a galley 
       of type and scrambled it to make
        a type specimen book. It has survived</p>
        <button class="big-blue-btn" style="width: 60%;">Vise o nama</button>
    </div>
   
  </div>
</div>

<app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
