@import "../../assets/css/sidenav.css";

.menu-div {
    display: inline-flex;
}

h1, p {}

h5 {
    margin-left: 1em;
    padding-top: .5em;
    color: #fff;
}

nav {
    padding: 3em;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url('../../assets/img/header_wall.png');
    background-attachment: fixed;
    height: 100vh;
}

.reg-btn, .login-btn {
    border: 0 !important;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    padding: .6em 3em .6em 3em;
}

.reg-btn {
    background-color: #00c3f6;
    color: #fff;
    margin-left: 2em;
}

.login-btn {
    margin-left: 2em;
    background-color: #fff;
    color: #282828;
}

.header h2 {
    color: #fff;
    line-height: 3px;
}

.text-header-div {
    padding-top: 12em;
}

mat-divider {
    border-top-color: #00c3f6;
}

.header h1 {
    color: #00c3f6;
}

.search-div {
    background-color: #fff;
    padding: 4em 10em 2em 10em;
    margin: 0 10em 0 10em;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

.search-btn {
    width: 100%;
    padding-top: .7em;
    border: 0 !important;
    background-color: #00c3f6;
    padding-bottom: .7em;
    margin-top: .5em;
}

mat-form-field {
    width: 100%;
}

::ng-deep.mat-form-field-ripple {
    background-color: #eee !important;
}

.about-div {
    padding: 10em 5em 10em 5em;
}

.about-div h1 {
    font-weight: bold;
    padding-top: 3em;
}

.about-p {
    font-size: 20px;
    color: #999;
}

.estate-binding {
    margin-top: 5em;
    padding: 0 5% 0 5%;
}

.slider-img {
    width: 400px !important;
    height: 400px !important;
    -webkit-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -16px rgba(0, 0, 0, 0.75);
}

.row {
    margin: 0 !important;
}

h4, h5 {}

.swiper-slide .blue {
    color: #00c3f6;
    font-weight: bold;
    line-height: 5px;
    margin-left: 0;
}

.big-estate {
    padding-top: 10em;
    padding-bottom: 10em;
}

.big-estate-btn {
    font-weight: bold;
    background-color: rgba(0, 195, 246, 0.1);
    padding: 1em;
    color: #00c3f6;
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.estate-binding h1 {
    padding-top: 10%;
    font-weight: bold;
}

.slider-btn {
    margin-top: 2em;
    width: 50%;
    background-color: #00c3f6;
    color: #fff;
    border: 0 !;
}

.advertising-div {
    margin-top: 5em;
    padding: 5em 15em 5em 15em;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url('../../assets/img/92d3e202bee3df35b5a65278158677c1.jpg');
    background-attachment: fixed;
}

.form-div {
    padding: 2em;
    margin-top: 3em;
    background-color: #fff;
}

.next-btn, .back-btn {
    width: 25%;
    padding-top: .5em;
    padding-bottom: .5em;
}

.next-btn {
    background-color: #282828;
    margin-left: 1em;
    color: #fff;
}

.back-btn {
    background-color: #f3f4f7;
    color: #282828;
}

.send-btn {
    width: 50%;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
    background-color: #00c3f6;
}

.big-h1 {
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    padding-top: 1em;
}

.hamburger-menu {
    display: none;
}

.search-form {
    display: inline-flex;
    width: 100%;
}

.mobile-advertising-div {
    display: none;
}

/* Responsive */

@media screen and (max-width:1870px) {
    nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
        color: #00c3f6;
        padding-right: 1em;
        padding-top: 2em;
    }
    .hamburger-menu mat-icon {
        font-size: 40px !important;
    }
}

@media screen and (min-width:360px) and ( max-width: 570px) {
    .search-form {
        display: block;
    }
    .search-div {
        margin: 2em 2em 0 2em;
        padding: 1em;
    }
    .search-div .row {
        text-align: center !important;
    }
    mat-form-field {
        width: 100%;
    }
    .advertising-div {
        display: none;
    }
    .mobile-advertising-div {
        display: block;
        background-size: cover;
        background-position: center;
        height: 150vh;
        background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url('../../assets/img/92d3e202bee3df35b5a65278158677c1.jpg');
        background-attachment: fixed;
        margin-top: 5em;
    }
    .mobile-advertising-div h1 {
        font-size: 50px;
    }
    .mobile-advertising-div h5 {
        font-size: 15px !important;
    }
    .mobile-advertising-div {
        padding: 2em;
    }
    .big-estate p {
        padding: 0 2em 0 2em !important;
    }
    .big-estate img {
        padding: 0 2em 0 2em;
    }
    .about-div {
        padding: 1em !important;
    }
    .about-div h1 {
        padding-top: 0;
    }
    .about-text-col {
        padding: 2em;
    }
    .sell-text {
        padding-bottom: .5em !important;
        padding-top: 2em !important;
    }
    .mobile-advertising-div .send-btn {
        width: 100%;
    }
    .mobile-advertising-div .next-btn {
        width: 45%;
    }
    .mobile-advertising-div .back-btn {
        width: 45%;
    }
    .mobile-advertising-div .col-sm {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .estate-binding h1 {
        padding-top: 3em;
    }
}
