<form [formGroup]="addEstateSubCategoryForm">
    <mat-form-field appearance="fill" >
        <mat-label>Naziv potkategorije</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <div>
        <mat-form-field appearance="fill">
            <mat-label>Kategorija</mat-label>
            <mat-select formControlName="id_estate_category" [(ngModel)]="selectedEstateCategory">
              <mat-option *ngFor="let estateCategory of listOfEstateCategories" [value]="estateCategory.id">
                {{estateCategory.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="text-center">
          <button class="big-blue-btn" mat-dialog-close (click)="save()">Sacuvaj</button>
      </div>
</form>